$light-color: rgb(236, 236, 236);
$text-color: rgb(12, 12, 12);
$background-color: rgb(253, 253, 253);
$gray-color: rgb(139, 139, 139);
$note-color-title: rgb(174, 130, 255);
$note-color-title-hover: rgb(145, 86, 255);
$note-color-text: rgb(201, 174, 252);
$popup-color: #000000ea;
